---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Button from "../components/Button.astro";
import Section from "../layouts/Section.astro";

import { platforms, steps, global } from "../data";
---

<Layout>
  <!-- Hero Section -->
  <section class="hero box">
    <div class="hero-content">
      <div class="mt-5">
        <p
          class="text-3xl sm:text-5xl md:text-6xl lg:text-7xl hero-highlight-1"
        >
          Introducing Autocopy
        </p>
        <p class="text-xl sm:text-3xl md:text-4xl lg:text-5xl text-white">
          Trade smarter with one click
        </p>
      </div>
      <p class="text-[#6D7BA0] text-sm sm:text-xl">
        Copy experienced traders, learn strategies, <br /> and grow with a thriving
        community <br /> all while accessing 100+ assets for continuous income.
      </p>

      <ul class="flex flex-row items-center">
        {
          ["fb", "apple", "google", "tesla", "mcdonalds"].map((logo) => (
            <li>
              <img src={`images/hero/${logo}.svg`} alt={`${logo} logo`} />
            </li>
          ))
        }
        <li class="assets-icon">+100 assets</li>
      </ul>

      <Button title="Get Started" />
    </div>

    <img
      src="images/hero/hero.png"
      alt="Phone mockup"
      class="order-1 mx-auto max-w-xs sm:max-w-sm md:max-w-md lg:max-w-lg xl:max-w-xl animate-pulse-zoom"
    />
  </section>

  <!-- Platform Section -->
  <Section title="Why Trade With Us">
    <!-- <Card items={platforms} /> -->
    <div class="flex flex-col gap-5 md:flex-row">
      {
        platforms.map(({ title, subtitle }) => (
          <div class="card text-center">
            <p class="text-blue-300 mb-1 font-semibold">{title}</p>
            <p class="text-white text-xs">{subtitle}</p>
          </div>
        ))
      }
    </div>
  </Section>

  <!-- Steps Section -->
  <Section title="How It Works">
    <Card items={steps} />
  </Section>

  <!-- Section -->
  <section class="box flex flex-col justify-around gap-10 md:flex-row md:gap-0">
    <div class="flex flex-col items-center justify-center gap-4">
      <div class="flex flex-row items-center gap-2">
        <img src="images/trust.svg" alt="Trusted" class="h-[34px] w-[34px]" />
        <p class="text-4xl text-white">Trusted</p>
      </div>
      <p class="platform-version text-center">
        VertexOption is a leader in the online trading industry. <br /> We are trusted
        by more than 70,000,000 clients.
      </p>
      <Button title="See more" />
    </div>

    <div>
      <div class="card">
        <img
          src="images/leaderboard.svg"
          alt="Trophy"
          class="h-[34px] w-[34px]"
        />
        <p class="text-2xl text-white text-center">
          Best Copy Trading Experience
        </p>
        <p class="platform-version text-center">
          Empowering Traders Across 100+ Countries Since Launch
        </p>
      </div>
    </div>
  </section>

  <!-- Global Section -->
  <Section title="Global Trading Platform">
    <div class="flex flex-col gap-5 md:flex-row">
      {
        global.map(({ amount, subtitle }) => (
          <div class="card text-center">
            <p class="text-[#259EFA]">{amount}</p>
            <p class="text-white">{subtitle}</p>
          </div>
        ))
      }
    </div>
  </Section>

  <!-- Map Section -->
  <section class="box mb-20">
    <p class="mb-10 text-center text-xs text-[#9AA5BA]">
      People from 48 countries trade at VertexOption
    </p>
    <div class="map-section"></div>
  </section>
</Layout>
