---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Button from "../components/Button.astro";
import Section from "../layouts/Section.astro";

import { platforms, steps, global } from "../data";
---

<Layout>
  <!-- Hero Section -->
  <section class="hero box">
    <div class="hero-content">
      <div class="mt-5 md:mb-10">
        <p class="hero-text hero-highlight-1">Investing Is</p>
        <p class="hero-text text-white">Even Better Now</p>
      </div>
      <p class="text-xs text-[#6D7BA0] md:text-xl">
        Providing you with the opportunity to invest <br /> in more than 100 assets
        for continuous income
      </p>

      <ul class="flex flex-row items-center">
        {
          ["fb", "apple", "google", "tesla", "mcdonalds"].map((logo) => (
            <li>
              <img src={`images/hero/${logo}.svg`} alt={`${logo} logo`} />
            </li>
          ))
        }
        <li class="assets-icon">+100 assets</li>
      </ul>

      <Button title="Get Started" />
    </div>

    <img src="images/hero/hero.png" alt="Phone mockup" class="hero-img" />
  </section>

  <!-- Platform Section -->
  <Section title="For All Devices">
    <Card items={platforms} />
  </Section>

  <!-- Steps Section -->
  <Section title="How It Works">
    <Card items={steps} />
  </Section>

  <!-- Section -->
  <section class="box flex flex-col justify-around gap-10 md:flex-row md:gap-0">
    <div class="flex flex-col items-center justify-center gap-4">
      <div class="flex flex-row items-center gap-2">
        <img src="images/trust.svg" alt="Trusted" class="h-[34px] w-[34px]" />
        <p class="text-4xl text-white">Trusted</p>
      </div>
      <p class="platform-version text-center">
        VertexOption is a leader in the online trading industry. <br /> We are trusted
        by more than 70,000,000 clients.
      </p>
      <Button title="See more" />
    </div>

    <div>
      <div class="card">
        <img
          src="images/leaderboard.svg"
          alt="Trophy"
          class="h-[34px] w-[34px]"
        />
        <p class="text-2xl text-white">Best Trading Platform</p>
        <p class="platform-version text-center">
          Award winner at China Trading Expo Shenzhen, 6-7 May 2017
        </p>
      </div>
    </div>
  </section>

  <!-- Global Section -->
  <Section title="Global Trading Platform">
    <div class="flex flex-col gap-5 md:flex-row">
      {
        global.map(({ amount, subtitle }) => (
          <div class="card text-center">
            <p class="text-[#259EFA]">{amount}</p>
            <p class="text-white">{subtitle}</p>
          </div>
        ))
      }
    </div>
  </Section>

  <!-- Map Section -->
  <section class="box mb-20">
    <p class="mb-10 text-center text-xs text-[#9AA5BA]">
      People from 48 countries trade at VertexOption
    </p>
    <div class="map-section"></div>
  </section>
</Layout>
